/node_modules/
src/.jshintrc
**.js.map
.idea
.editorconfig
.jshintrc
npm-debug.log

src/error.d.ts
src/util/Collections.d.ts
src/source-processor.d.ts

src/source-processor.js
src/util/Collections.js
test/parser_test.js
src/error.js